* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,
body {
    height: 100%;
    font-family: Arial, sans-serif;
}

#main {
    height: 100%;
    width: 100%;
    background-color: rgb(244, 241, 241);
}

#nav {
    height: 100px;
    width: 100%;
    background-color: rgb(247, 244, 244);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

#nav-part1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav h3 {
    font-size: 20px;
    font-style: gylore;
    font-weight: 500;
    border: 2px solid rgb(26, 24, 24);
    padding: 5px 10px;
    border-radius: 50px;
}

#nav i {
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px;
    font-weight: 500;
}

#nav button {
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
}

#but2 {
    background-color: rgb(8, 22, 27);
    color: white;
    border: none;
}

#main>h1 {
    font-size: 150px;
    font-weight: 700;
    color: rgb(16, 53, 19);
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

img {
    width: 300px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    object-position: top;
    border-radius: 30px;
}

#img1 {
    position: absolute;
    transform: translate(-50%, -50%) rotate(-30deg);
}

#img2 {
    transform: translate(-50%, -50%) rotate(-25deg);
}

#img3 {
    transform: translate(-50%, -50%) rotate(-20deg);
}

#img4 {
    transform: translate(-50%, -50%) rotate(-15deg);
}

#img5 {
    transform: translate(-50%, -50%) rotate(-5deg);
}
#nature {
    position:absolute;
    bottom:3%;
    left:3%;
    font-weight: 500;
    font: size 17px; ;
}
